[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
flask = "*"
flask-cors = "*"
flask-login = "*"
mysql-connector-python = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13.7"
