.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkbox .checkbox__flag {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  background-color: var(--primary-900);

  cursor: pointer;
}

input[type="checkbox"]:checked+span {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

input[type="checkbox"]:focus-visible+span {}