progress {
  height: 5px;
  margin-top: 25px;
  border: none;
  background-color: var(--secondary-900);
  width: 100%;
}

progress::-webkit-progress-bar {
  border: none;
  background-color: var(--secondary-900);
}

progress::-webkit-progress-value {
  background-color: var(--success-900);
}

progress::-moz-progress-bar {
  border: none;
  background-color: var(--success-900);
}

.upload__container {
  font-size: 16px;
  margin-top: 10px;
}

.upload__status:empty::before {
  content: "не загружено";
}

.upload__status:empty + span {
  display: none;
}
