{% extends 'base.j2.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}
{% block main %}

<section class="main-page">
  <div class="main-page__content">
    <a
      class="link"
      href="{{ url_for('static', filename='stuff/znv.crt') }}"
      download
      >Cert</a
    >
    <a
      class="link"
      href="{{ url_for('static', filename='stuff/chrome_xp_32.exe') }}"
      download
      >хром для виндовс XP</a
    >
  </div>
</section>

{% endblock %}
