<table class="table permissions" style="text-align: left">
  <thead class="table__head">
    <tr class="table__head_row">
      <th class="table__head_item">Заявки</th>
      <th class="table__head_item">Наряды</th>
      <th class="table__head_item">Видео</th>
      <th class="table__head_item">Пользователи</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr class="table__body_row">
      <td class="table__body_item">
        <label class="checkbox">
          Просмотр
          <input class="visually-hidden checkbox-active" type="checkbox" value="a"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Просмотр
          <input class="visually-hidden checkbox-active" type="checkbox" value="a"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Просмотр
          <input class="visually-hidden checkbox-active" type="checkbox" value="a"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Просмотр
          <input class="visually-hidden checkbox-active" type="checkbox" value="a"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
    </tr>
    <tr class="table__body_row">
      <td class="table__body_item">
        <label class="checkbox">
          Добавление
          <input class="visually-hidden checkbox-active" type="checkbox" value="b"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Добавление
          <input class="visually-hidden checkbox-active" type="checkbox" value="b"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Добавление
          <input class="visually-hidden checkbox-active" type="checkbox" value="b"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item"></td>
    </tr>
    <tr class="table__body_row">
      <td class="table__body_item">
        <label class="checkbox">
          Редактирование
          <input class="visually-hidden checkbox-active" type="checkbox" value="c"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Редактирование
          <input class="visually-hidden checkbox-active" type="checkbox" value="c"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Редактирование
          <input class="visually-hidden checkbox-active" type="checkbox" value="c"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Редактирование
          <input class="visually-hidden checkbox-active" type="checkbox" value="c"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
    </tr>
    <tr class="table__body_row">
      <td class="table__body_item">
        <label class="checkbox">
          Удаление
          <input class="visually-hidden checkbox-active" type="checkbox" value="d"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Удаление
          <input class="visually-hidden checkbox-active" type="checkbox" value="d"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Удаление
          <input class="visually-hidden checkbox-active" type="checkbox" value="d"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item"></td>
    </tr>
    <tr class="table__body_row">
      <td class="table__body_item">
        <label class="checkbox">
          Согласование
          <input class="visually-hidden checkbox-active" type="checkbox" value="e"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Согласование
          <input class="visually-hidden checkbox-active" type="checkbox" value="e"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Просмотр чужих
          <input class="visually-hidden checkbox-active" type="checkbox" value="e"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item"></td>
    </tr>
    <tr class="table__body_row">
      <td class="table__body_item">
        <label class="checkbox">
          Одобрение/отказ
          <input class="visually-hidden checkbox-active" type="checkbox" value="f"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Изменение статуса
          <input class="visually-hidden checkbox-active" type="checkbox" value="f"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Торги
          <input class="visually-hidden checkbox-active" type="checkbox" value="f"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item"></td>
    </tr>
    <tr class="table__body_row">
      <td class="table__body_item"></td>
      <td class="table__body_item">
        <label class="checkbox">
          Просмотр файлов
          <input class="visually-hidden checkbox-active" type="checkbox" value="g"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item">
        <label class="checkbox">
          Аттестация
          <input class="visually-hidden checkbox-active" type="checkbox" value="g"/>
          <span class="checkbox__flag"></span>
        </label>
      </td>
      <td class="table__body_item"></td>
    </tr>
    <tr class="table__body_row">
      <td class="table__body_item"></td>
      <td class="table__body_item">
        <label class="checkbox">
          Просмотр наряда
          <input class="visually-hidden checkbox-active" type="checkbox" value="h"/>
          <span class="checkbox__flag"></span>
        </td>
        <td class="table__body_item">
          <label class="checkbox">
            Проверка знаний (рабочие)
            <input class="visually-hidden checkbox-active" type="checkbox" value="h"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
        <td class="table__body_item"></td>
      </tr>
      <tr class="table__body_row">
        <td class="table__body_item"></td>
        <td class="table__body_item">
          <label class="checkbox">
            Наряды на завтра
            <input class="visually-hidden checkbox-active" type="checkbox" value="i"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
        <td class="table__body_item">
          <label class="checkbox">
            Проверка знаний (ИТР)
            <input class="visually-hidden checkbox-active" type="checkbox" value="i"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
        <td class="table__body_item"></td>
      </tr>
      <tr class="table__body_row">
        <td class="table__body_item"></td>
        <td class="table__body_item">
          <label class="checkbox">
            Просмотр всех
            <input class="visually-hidden checkbox-active" type="checkbox" value="j"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
        <td class="table__body_item">
          <label class="checkbox">
            Оперативные переключения
            <input class="visually-hidden checkbox-active" type="checkbox" value="j"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
        <td class="table__body_item"></td>
      </tr>
      <tr class="table__body_row">
        <td class="table__body_item"></td>
        <td class="table__body_item"></td>
        <td class="table__body_item">
          <label class="checkbox">
            Посещения
            <input class="visually-hidden checkbox-active" type="checkbox" value="k"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
        <td class="table__body_item"></td>
      </tr>
      <tr class="table__body_row">
        <td class="table__body_item"></td>
        <td class="table__body_item"></td>
        <td class="table__body_item">
          <label class="checkbox">
            Просмотр примечания
            <input class="visually-hidden checkbox-active" type="checkbox" value="l"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
        <td class="table__body_item"></td>
      </tr>
      <tr class="table__body_row">
        <td class="table__body_item"></td>
        <td class="table__body_item"></td>
        <td class="table__body_item">
          <label class="checkbox">
            Создание примечания
            <input class="visually-hidden checkbox-active" type="checkbox" value="m"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
        <td class="table__body_item"></td>
      </tr>
      <tr class="table__body_row">
        <td class="table__body_item">
          <label class="checkbox">
            Админ.
            <input class="visually-hidden checkbox-active" type="checkbox" value="z"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
        <td class="table__body_item">
          <label class="checkbox">
            Админ.
            <input class="visually-hidden checkbox-active" type="checkbox" value="z"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
        <td class="table__body_item">
          <label class="checkbox">
            Админ.
            <input class="visually-hidden checkbox-active" type="checkbox" value="z"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
        <td class="table__body_item">
          <label class="checkbox">
            Админ.
            <input class="visually-hidden checkbox-active" type="checkbox" value="z"/>
            <span class="checkbox__flag"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
